* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Opcional: color de fondo */
}

main {
    width: 889px;
    height: 742px;
    position: relative; /* Para posicionar absolutamente los elementos internos */
}

.Section2 {
    width: 100%;
    height: 100%;
}


.portada {
    width: 689px;
    height: 314px;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%); /* Centrado horizontal */
    margin: 20px;
    border: 4px solid #fff; /* Borde blanco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra sutil */
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
  }
  
  
#img-portada {
    width: 689px;
    height: 314px;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%); /* Centrado horizontal */
    margin: 20px;
}

.perfil {
    width: 176px;
    height: 176px;
    position: absolute;
    left: 50%;
    top: 370.22px;
    transform: translateX(-50%) rotate(-1.05deg);
    border-radius: 50%;
    z-index: 9999;
    image-rendering: pixelated; /* Preserva la nitidez de los pixeles */
  
    /* Estilos adicionales */
    border: 4px solid #fff; /* Borde blanco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra sutil */
    cursor: pointer; /* Cambia el cursor a puntero */
  }
  
  #img-perfil {
    width: 176px;
    height: 176px;
    position: absolute;
    left: 50%;
    top: 370.22px;
    transform: translateX(-50%) rotate(-1.05deg);
    border-radius: 50%;
    z-index: 9999;

}

.Fondo {
    width: 689px;
    height: 202px;
    position: absolute;
    left: 50%;
    top: 440px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rectangle2 {
    width: 100%;
    height: 100%;
    mix-blend-mode: color-burn;
    background: rgba(241.90, 241.90, 241.90, 0.34);
}

.HectorDanielAyarachiFuentes {
    position: absolute;
    left: 50%;
    top: 572px;
    transform: translateX(-50%);
    width: 214px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: 'Honk', sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px 4px #000000;
}
