* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Opcional: color de fondo */
}

main {
    width: 889px;
    height: 742px;
    position: relative; /* Para posicionar absolutamente los elementos internos */
}

.Section2 {
    width: 100%;
    height: 100%;
}


/* Estilos para el contenedor de la imagen de portada */
.portada {
    width: 950px;
    height: 314px;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    border-radius: 10px;

}

/* Estilos específicos para la imagen de portada */
#img-portada {
    width: 100%;
    height: 100%;
    border: 4px solid #fff; /* Borde blanco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra sutil */
    border-radius: 10px;
    object-fit: cover;

}

/* Estilos para la imagen de perfil */
.perfil {
    width: 176px;
    height: 176px;
    position: absolute;
    left: 50%;
    top: 370.22px;
    transform: translateX(-50%) rotate(-1.05deg);
    border-radius: 50%;
    z-index: 9999;
    cursor: pointer; /* Cambia el cursor a puntero */


}

/* Estilos específicos para la imagen de perfil */
#img-perfil {
    width: 176px;
    height: 176px;
    position: absolute;
    left: 50%;
    top: 370.22px;
    border-radius: 50%;
    z-index: 9999;
    border: 4px solid #fff; /* Borde blanco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra sutil */
    cursor: pointer; /* Cambia el cursor a puntero */

    /* Mantener la proporción de la imagen */
    object-fit: cover;
}

/* Estilos para el fondo */
.fondo {
    width: 950px;
    height: 202px;
    position: absolute;
    left: 50%;
    top: 440px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}



.HectorDanielAyarachiFuentes {
    position: absolute;
    left: 50%;
    top: 572px;
    transform: translateX(-50%);
    width: 214px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: 'Honk', sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px 4px #000000;
}
